body {
  font-family: Trebuchet, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

label {
  font-weight: normal;
}

#radiant-background {
  height: 418px;
  width: 509px;
}

#page-header {
  position: fixed;
  width: 100%;
  height: 175px;
  top: 0px;
  left: 0px;
  padding: 5px;
  background-color: #9f9f9f;
  z-index: 100;
  border-bottom: 2px solid black;
}

#page-content {
  margin-top: 180px;
}

#page-content>div {
  margin-right: auto;
  margin-left: auto;
}

#corner-logo {
  position: absolute;
  margin-top: 32.5px;
  margin-bottom: 32.5px;
  margin-left: 10px;
  width: 100px;
  height: 100px;
}

#filters {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

#userdropdown {
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}

#timeline {
  margin-right: auto;
  margin-left: auto;
  height: 120px;
  width: 980px;
}

.end_screen_selected {
  fill: aquamarine !important;
}

.match_dot_hover {
  fill: aquamarine !important;
  stroke-width: 1px;
  stroke: black;
}

#stat_graphs {
  position: relative;
  width: 1060px;
  height: 1500px;
  margin: 0px 0px 10px 0px;
  padding-top: 20px;
}

#stat_graphs svg {
  position: absolute;
  left: 0px;
  top: 0px;
  left: 0px;
}

#record_content {
  position: absolute;
  top: 80px;
  width: 1060px;
  height: 85px;
  z-index: 2;
  overflow: auto;
  white-space: nowrap;
}

.win_loss rect {
  stroke: black;
  stroke-width: 2px;
}

.win {
  fill: #1a9641;
}

.loss {
  fill: #d7191c;
}

.gpm_brush .extent{
      fill:gray;
      opacity: .3;
}

.xpm_brush .extent{
      fill:gray;
      opacity: .3;
}

text {
  font-family: Georgia;
  color: black;
  font-size: 18px;
}

path {
/*  stroke: #fff;
*/  fill-rule: evenodd;
    stroke: white;
}

.path:hover{
  fill: aquamarine;
}

.bar:hover{
  fill: aquamarine;
}

#item_percent_tooltip_img {
  margin-top: 4px;
  float: left;
}

#item_percent_tooltip_most_purchased {
  margin-top: 2px;
}

#item_percent_tooltip_most_purchased img {
  margin-left: 1.5px;
  margin-right: 1.5px;
  margin-top: 2px;
}

#scatter_tooltip_img {
  margin-top: 13px;
  float: left;
}

#tooltip_text {
  float: left;
  margin-left: 5px;
}

#hero_sunburst_tip {
  float: left;
  margin-top: 2px;
}

.axis text {
  font: 10px sans-serif;
}

.item_percent .x.axis text {
  visibility: hidden;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#value_sort_label {
  z-index: 1;
  position: absolute;
  top: 230px;
  /*right: 651px;*/
  left: 416px;
}

#item_sort_label{
  z-index: 1;
  position: absolute;
  top: 245px;
  /*right: 687px;*/
  left: 416px;
}

#cost_sort_label{
  z-index: 1;
  position: absolute;
  top: 260px;
  left: 416px;
  /*right: 689px;*/
}

#item_filter{
  z-index: 1;
  position: absolute;
  top: 25px;
  left: 900px;
  /*right: 180px;*/
}

#hero_filter{
  z-index: 1;
  position:absolute;
  top: 750px;
  left: 170px;
  /*right: 150px;*/
}

#toggle_color_pretty{
  z-index: 1;
  position: absolute;
  top: 1250px;
  left: 73px;
  /*right: 689px;*/
}

#toggle_color_ugly{
  z-index: 1;
  position: absolute;
  top: 1250px;
  left: 252px;
  /*right: 689px;*/
}

.bubble a:visited {
  color:gray;
}


/*tooltip styles*/

/*these styles come from: https://github.com/Caged/d3-tip*/
.d3-tip {
  z-index: 101;
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 1px;
  text-align: center;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
/*content: "\25BC";*/
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Southward tooltips */
.d3-tip.s:after {
/*content: "\25B2";*/
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Westward tooltips */
.d3-tip.w:after {
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* helper tooltip adapted from: http://www.davidjrush.com/blog/2011/12/simple-jquery-tooltip/ */
span.question {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #223373;
  line-height: 18px;
  color: White;
  font-size: 13px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}
span.question:hover {
  background-color: #3D6199;
}

div.graph_description {
  background-color: White;
  color: White;
  border: 2px solid black;
  position: absolute;
  right: 25px;
  top: 10px;
  z-index: 10000;
  width: 600px;
  border-radius: 5px;
  text-align: left;
}

div.graph_description:before {
  border-color: transparent #3D6199 transparent transparent;
  border-right: 6px solid #3D6199;
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: -6px;
}

div.graph_description p {
  margin: 10px;
  color: black;
}

div.graph_description strong {
  color: black;
}

.chordtip {
    color: #fff; 
    background: rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
    line-height: 1;
    position: absolute;
    pointer-events: none;
}

.hidden { 
    display: none; 
}
#game_mode_table td, #lobby_table td{
  background-color: black;
  text-align: center;
  color :white;

}

#game_mode_table th, #lobby_table th{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}
#game_mode_table, #lobby_table{
  background-color:black;
}

#splash {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  /*background-color: #3d3d3d;*/
  background-color: white;
}

.splash-text {
  margin-top: 10px;
  color: black;
  font-size: 20px;
  position: relative;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  /*padding: 2px;*/
}

.splash-title {
  color: white;
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
}

.splash_sub {
  color: #99222F;
  margin-top: 20px;
  font-size: 28px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#splash-nav {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}


#splash_page2 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  /*background-color: #3d3d3d;*/
  background-color: white;
}

.spacer {
  height: 20px;
}

#colorblind {
  float: right;
}
