#stat_graphs {
  position: relative;
}

.win_loss rect{
  stroke: black;
  stroke-width: 2px;
}
.win {
  fill: #1a9641;
}

.loss {
  fill: #d7191c;
}

.gpm_brush .extent{
      fill:gray;
      opacity: .3;
}

.xpm_brush .extent{
      fill:gray;
      opacity: .3;
}

text {
  font-family: Georgia;
  color: black;
  font-size: 18px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

.path:hover{
  fill: aquamarine;
}

.bar:hover{
  fill: aquamarine;
}

.bar {
  /*stroke-width: 1px;*/
  /*stroke: black;*/
}

#item_percent_tooltip_img {
  margin-top: 4px;
  float: left;
}

#scatter_tooltip_img {
  margin-top: 13px;
  float: left;
}

#tooltip_text {
  float: left;
  margin-left: 5px;
}

#hero_sunburst_tip {
  float: left;
  margin-top: 2px;
}

.axis text {
  font: 10px sans-serif;
}

.item_percent .x.axis text {
  visibility: hidden;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#value_sort_label {
  position: absolute;
  top: -2px;
  /*right: 651px;*/
  left: 416px;
}

#item_sort_label{
  position: absolute;
  top: 15px;
  /*right: 687px;*/
  left: 416px;
}

#cost_sort_label{
  position: absolute;
  top: 32px;
  left: 416px;
  /*right: 689px;*/
}

#item_filter{
  position: absolute;
  top: 25px;
  left: 900px;
  /*right: 180px;*/
}

#hero_filter{
  position:absolute;
  top: 575px;
  left: 170px;
  /*right: 150px;*/
}

/*tooltip styles*/

/*these styles come from: https://github.com/Caged/d3-tip*/
.d3-tip {
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 1px;
  text-align: center;
}

/* Northward tooltips */
.d3-tip.n:after {
/*content: "\25BC";*/
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Southward tooltips */
.d3-tip.s:after {
/*content: "\25B2";*/
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* helper tooltip adapted from: http://www.davidjrush.com/blog/2011/12/simple-jquery-tooltip/ */
  span.question {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #223373;
    line-height: 16px;
    color: White;
    font-size: 13px;
    border-radius: 8px;
    text-align: center;
    position: relative;
  }
  span.question:hover {
    background-color: #3D6199;
  }

  div.tooltip {
    background-color: #a6b2e1;
    color: White;
    position: absolute;
    left: 25px;
    top: -25px;
    z-index: 1000000;
    width: 800px;
    border-radius: 5px;
    text-align: left;
  }

  div.tooltip:before {
    border-color: transparent #3D6199 transparent transparent;
    border-right: 6px solid #3D6199;
    border-style: solid;
    border-width: 6px 6px 6px 0px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: -6px;
  }

  div.tooltip p {
    margin: 10px;
    color: black;
  }

  div.tooltip strong{
    color: #4662e3;
  }




