#selector .images .pic {
    float: left;
}

#selector .modal-lg {
    width: 1050px;
}

#selector .modal-lg div {
    background-color: black;
    color: white;
    margin-top: 0px;
}

#selector .modal-lg .modal-footer {
    color: black;
}

#selector table {
    border-spacing: 10px;
}

#selector .images td {
    width:330px;
    line-height: 0;
    vertical-align: top;
}

#selector td text {
    padding-bottom:15px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}


#selector img{
    /*padding-right:3px;
    padding-bottom: 3px;*/
    border: 2px solid black;
}
.selected{
    /*border-color: red;*/
}

#strlabel,#intlabel,#agilabel{
    color: white;
    font-size: 20px;
}

/* GAME MODE MODAL STYLING */
#select_game_type div#game_mode_content{

    width:100%;
    height:100%;

}
#game_mode_table, #lobby_table {
    margin: 0 auto 0 auto;
  }
  
  #select_game_type.modal{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
        
    width:500px;
    max-height:500px;
}

div#select_game_type {
    margin: 0 0 0 0;
    max-height:500px;
    width:500px;
    /*height: 800px;*/
    background-color:black;
}


/* GAME RECORD MODAL STYLING */
#show_records div#record_content{

    width:100%;
    height:100%;

}
#record_table {
    margin: 0 auto 0 auto;
  }
  
  #show_records.modal{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
        
    width:300px;
    max-height:700px;
}

div#show_records {
    margin: 0 0 0 0;
    max-height:700px;
    width:300px;
    /*height: 800px;*/
    background-color:black;
}
#record_table td,#record_table th{
color:white;

}
