#selector .images .pic {
    float: left;
}

#selector .modal-lg {
    width: 1050px;
}

#selector .modal-lg div {
    background-color: black;
    color: white;
    margin-top: 0px;
}

#selector .modal-lg .modal-footer {
    color: black;
}

#selector table {
    border-spacing: 10px;
}

#selector .images td {
    width:330px;
    line-height: 0;
    vertical-align: top;
}

#selector td text {
    padding-bottom:15px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}


#selector img{
    /*padding-right:3px;
    padding-bottom: 3px;*/
    border: 2px solid black;
}
.selected{
    /*border-color: red;*/
}

#strlabel,#intlabel,#agilabel{
    color: white;
    font-size: 20px;
}

/* GAME MODE MODAL STYLING */
#select_game_type .modal-lg {
    width: 1050px;
}

#select_game_type .modal-lg div {
    background-color: black;
    margin-top: 0px;
}

#select_game_type .modal-header {
    color: white;
}

#game_mode_content table {
    border: 10px ridge darkgray;
}

#game_mode_content td {
    padding: 10px;
    border: 1px solid black;
}

#game_mode_table, #lobby_table {
    margin: 10px auto;
}


/* GAME RECORD MODAL STYLING */
#show_records .modal-dialog {
    width: 270px;
}

#show_records .modal-content {
    background-color: black;
    color: white;
    margin-top: 0px;
}

#show_records .modal-footer {
    color: black;
}

#show_records table {
    border: 10px ridge darkgray;
}

#show_records th {
    text-align: center;
}

#show_records td {
    padding: 10px;
    border: 1px solid white;
}

#record_table {
    margin: 0px auto;
}