#selector .images .pic {
    float: left;
}

#selector .modal-lg {
    width: 1050px;
}

#selector .modal-lg div {
    background-color: black;
    color: white;
    margin-top: 0px;
}

#selector .modal-lg .modal-footer {
    color: black;
}

#selector table {
    border-spacing: 10px;
}

#selector .images td {
    width:330px;
    line-height: 0;
    vertical-align: top;
}

#selector td text {
    padding-bottom:15px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}


#selector img{
    border: 2px solid black;
}

#strlabel,#intlabel,#agilabel{
    color: white;
    font-size: 20px;
}

/* GAME MODE MODAL STYLING */
#select_game_type .modal-lg {
    width: 1050px;
}

#select_game_type .modal-lg div {
    background-color: black;
    margin-top: 0px;
}

#select_game_type .modal-header {
    color: white;
}

#game_mode_content table {
    /*border: 10px ridge darkgray;*/
}

#game_mode_content td {
    padding: 10px;
    border: 0px solid black;
    width: 170px;
    height :50px;
}

#game_mode_table, #lobby_table {
    margin: 10px auto;
    border-collapse:separate; 
    border-spacing:10px;
}


/* GAME RECORD MODAL STYLING */
#show_records .modal-dialog {
    width: 270px;
}

#show_records .modal-content {
    background-color: black;
    color: white;
    margin-top: 0px;
}

#show_records .modal-footer {
    color: black;
}

#show_records table {
    border: 10px ridge darkgray;
}

#show_records th {
    text-align: center;
}

#show_records td {
    padding: 10px;
    border: 1px solid white;
}

#record_content div{
    display: inline-block;
    font-weight:bold;
    font-size: 16px;
    height: 80px;
    width: 160px;
    margin: 0px auto;
    text-shadow: black 0.2em 0.2em 0.3em;
    cursor:pointer;
    margin-bottom:5px;
    text-align: center;
    color: white;
    background-size: 200px 112.5px;
    background-position: -20px -10px;
    border: 1px solid black;
}

.brightnessfilter:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -o-filter:  brightness(1.2);
    -ms-filter:  brightness(1.2);
}
.dullness{
    -webkit-filter: brightness(0.8);
    -moz-filter: brightness(0.8);
    -o-filter:  brightness(0.8);
    -ms-filter:  brightness(0.8);
}
