

#intimages.pic, #agiimages.pic, #strimages.pic {
    float: right;
}

#selector.modal{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
        
    width:1050px;
    max-height:1000px;
}
div.modal-header{
    background-color:black;
    width:1050px;
    color:white;
    /*font: 20pt white;*/
}

div.modal-footer{
    background-color:black;
    width:1050px;
}

div.modal-body{
    width:1050px;
    max-height:800px;
    background-color:black;
    height: 540px;
    overflow: visible;
}

div#selector {
    margin: 0 0 0 0;
    max-height:1100px;
    width:990px;
    /*height: 800px;*/
    background-color:black;
}
div.container {
    height: 440px;
    width: 336px;
    line-height: 0;
    background-color: black;
    z-index: 1000;
}

#selector td text{
    padding-bottom:15px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}


#selector img{
    /*padding-right:3px;
    padding-bottom: 3px;*/
    border: 2px solid black;
}
.selected{
    /*border-color: red;*/
}

#strlabel,#intlabel,#agilabel{
    color: white;
    font-size: 20px;
}


#selector table {
    border-spacing: 10px;
}
/*
.unselected{
    border-color: black;
}*/